.about-page{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    margin: 0 150px;
    .left{
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        flex-direction: column;
        padding: 0 150px;
        width: 40%;
        .left-header{
            font-family: 'NeoSansPro-Regular', "Helvetica Neue", Helvetica, Arial, Sans-serif;
            font-size: 70px;
            font-weight: 900;
            color: #111111;
            letter-spacing: -0.07em;
            margin-bottom: 15px;
        }
        .left-title{
            font-size: 26px;
            font-weight: 500;
            font-family: "ProximaNova-Regular", "Helvetica Neue", Helvetica, Arial, Sans-serif;
            color: #888888;
            line-height: 1.6rem;
            margin-bottom: 15px;
        }
        .left-text{
            font-size: 18px;
            font-family: "ProximaNova-Regular", "Helvetica Neue", Helvetica, Arial, Sans-serif;
            color: #333333;
        }
    }
    .right{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 60%;
        .about-image{
            height: 400px;
        }
    }
}