.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90px;
  color: #ffffff;
  background-color: #111111;
  .nav-item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .nav-item {
      padding: 18px;
      font-size: 18px;
      font-weight: bold;
      font-family: "ProximaNova-Regular", "Helvetica Neue", Helvetica, Arial,
        Sans-serif;
      cursor: pointer;
      &:hover {
        color: #656565;
      }
    }
  }
  .nav-img {
    width: 60px;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }

  @media screen and (max-width: 320px) {
    .nav-img {
      display: none;
    }
  }
}
