$black: #111111;
$grey: #666666;
$black2: #333333;

.experience-page {
  min-height: 82vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: "NeoSansPro-Regular", "Helvetica Neue", Helvetica, Arial,
    Sans-serif;
  .experience-wrapper {
    width: 768px;
    margin-top: 100px;
    .experience-page-header {
      text-align: center;
      font-size: 32px;
      margin-bottom: 32px;
    }
    .experience-page-body {
      display: flex;
      justify-content: space-between;
      width: 100%;
      .work-places {
        list-style: none;
        font-size: 15px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 200px;
        li {
          padding: 20px 2px 20px 20px;
          border-left: 1px solid $black;
          cursor: pointer;
          &:hover {
            color: #d3d3d3;
            background-color: #555555;
          }
        }
      }
      .job-description {
        width: 568px;
        margin-left: 32px;
        .job-description-header {
          margin-bottom: 32px;
          .job-title {
            font-size: 28px;
            columns: $black;
            margin-bottom: 6px;
          }
          .job-date {
            font-size: 15px;
            margin-bottom: 13px;
            color: #555555;
          }
        }
        .job-description-body {
          list-style: none;
          font-size: 18px;
          li {
            padding-bottom: 13px;
            padding-left: 30px;
            position: relative;
            &::before {
              content: "▹";
              position: absolute;
              left: 0px;
              color: $black;
            }
          }
        }
      }
    }
  }
  .selected {
    color: #d3d3d3;
    background-color: #555555;
    border-left: 5px solid $black !important;
  }
}

@media screen and (max-width: 768px) {
    .experience-page {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        .experience-wrapper {
          width: 100%;
          .experience-page-header {
            font-size: 48px;
          }
          .experience-page-body {
            flex-direction: column ;
            justify-content: center;
            align-items: center;
            padding: 0 5%;
            .work-places {
              font-size: 18px;
              flex-direction: row ;
              justify-content: center;
              align-items: center;
              width: 100%;
              margin-bottom: 50px;
              li {
                padding: 20px;
                border-left: none;
                border-bottom: 1px solid $black;
              }
            }
            .job-description {
              width: 100%;
              margin-left: 0;
              margin-bottom: 50px;
              .job-description-header {
                margin-bottom: 32px;
                .job-title {
                  font-size: 38px;
                }
                .job-date {
                  font-size: 24px;
                }
              }
              .job-description-body {
                font-size: 28px;
              }
            }
          }
        }
        .selected {
          border-left: none !important;
          border-bottom: 5px solid $black !important;
        }
      }
      
}
