.portfolio-page{
    min-height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px;
    @media screen and (max-width: 768px) {
        padding: 0;
    }
}